.background {
    background-color:#ffffff;
}

table {
    margin: 20px 20px 20px 20px;
    border: 1px solid black;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th {
    padding: 8px;
    border: 1px solid #ddd;
}

tr {
    border: 1px solid black;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
}

td[colspan="2"] {
    text-align: center;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.array {
    background-color: rgb(99, 175, 101);
    color: white;
}

.array-entry {
    background-color: #aaa;
}
